<h2><%= @puppy.name %></h2>

<p>Address: <%= @puppy.address %></p>

<h3>Available Dates:</h3>
<% @puppy.walks.sort_by{ |x| x.walk_date }.each do |walk| %>
	<%= link_to walk.walk_date, walk_url(walk.id) %>
	<% if walk.biddings.sort_by{ |x| -(x.value * x.quality) }.first.present? %>
		- Current Winner: <%= walk.biddings.sort_by{ |x| -(x.value * x.quality) }.first.firstname %>
	<% end %><br/>
<% end %>
<br/>
Back to <%= link_to 'Puppies', puppies_url %>